body
{
	background-color:black;
}

h1
{
	color:#009F00;
	background-color:#0F0F0F;
	border-left: 0.2em solid #005F00;
	padding-left: 0.3em;
	margin-top: 24px;
	margin-bottom: 8px;
	font: 2.5em Impact,sans-serif;
}

h2, label
{
	color:#009F00;
	background-color:#0F0F0F;
	border-left: 0.2em solid #004F00;
	padding-left: 0.3em;
	margin-top: 24px;
	margin-bottom: 8px;
	font: 1.5em Impact,sans-serif;
}

h3
{
	color:#009F00;
	background-color:#0F0F0F;
	border-left: 0.2em solid #003F00;
	padding-left: 0.3em;
	margin-top: 24px;
	margin-bottom: 8px;
	font: 1.25em Impact,sans-serif;
}

h4
{
	color:#009F00;
	background-color:#0F0F0F;
	border-left: 0.2em solid #002F00;
	padding-left: 0.3em;
	margin-top: 25px;
	margin-bottom: 5px;
	font: 1.0em Impact,sans-serif;
}

p
{
	color:white;
	margin-top: 12px;
	margin-bottom: 8px;
}

ul
{
	margin-top: auto;
	margin-bottom: auto;
	list-style: none;
}

ul li:before
{
	content:'';
	background-color:#009F00;
	display:block;
	position:absolute;
	width:0.4em;
	height:0.4em;
	border-radius:0.4em;
	left:-16px;
	top:0.45em;
}

ul li ul li:before
{
	background-color:#006F00;
	width:0.3em;
	height:0.3em;
	border-radius:0.3em;
	top:0.45em;
}

ul li ul li ul li:before
{
	background-color:#003F00;
	width:0.2em;
	height:0.2em;
	border-radius:0.2em;
	top:0.45em;
}

li
{
	color:white;
	margin-top: auto;
	margin-bottom: auto;
	position:relative;
}

table
{
	border-collapse:collapse;
	border:3px solid #009F00;
	margin-top: 12px;
	margin-bottom: 8px;
}

th
{
	border:2px solid #009F00;
	color:white;
	background-color:#003F00;
	padding:4px;
}

td
{
	border:2px solid #009F00;
	color:white;
	padding:4px;
}

pre
{
	color:white;
}

a:link 
{
	color:#00FF00;
}

a:visited
{
	color:#007F00;
}

a:hover
{
	color:#FFFF00;
}

a:active
{
	color:#FFFFFF;
}

/* Collapsible divs CSS */
.collapse
{
	display: block;
}

.collapse + input
{
	display: none;
}

.collapse + input + *
{
	display: none;
}

.collapse + input:checked + *
{
	display: block;
}

.collapse:hover
{
	cursor: pointer;
	cursor: hand;
}
