*
{
	padding: 0px;
	margin: 0px;
}

html, body
{
	background: #59A8CC;

	height: 100%;
	width: 100%;
	font-size: medium;
}

a
{
	text-decoration: none;
	text-transform: lowercase;
	color: #4D4D4D;
}

a:hover
{
	color: #E5E5E5;
}

h3
{
	padding-top: 1%;
}

/* header css */
#header
{
	padding: 1%;
	text-transform: lowercase;
}

#header #menu
{
	width: 10%;
}

#header #menu a
{
	display: block;
	width: 50%;
}

/* content css */
#content
{
	padding: 1%;
}
