*
{
	padding: 0px;
	margin: 0px;
}

html, body
{
	background: #eeeeee;

	height: 100%;
	width: 100%;
	font-family: monaco, Consolas, Lucida Console, monospace;
	font-size: medium;
}

a
{
	text-decoration: none;
	text-transform: lowercase;
	color: #4D4D4D;
	font-weight: bold;
}

a:hover
{
	color: #FFFFFF;
	font-weight: bold;
}

h3
{
	padding-top: 1%;
}

p
{
	max-width: 50em;
	word-wrap: break-word;
	line-height: 1.5em;
}

p + p
{
	margin-top: 1em;
}

P + h3
{
	margin-top: 2em;
}

/* header css */
#header
{
	padding: 1%;
	text-transform: lowercase;
}

#header #menu
{
	width: 10%;
}

#header #menu a
{
	display: table;
	text-align: left;
	white-space: nowrap;
	letter-spacing: 0em;
	transition: letter-spacing 100ms ease-out;
}

#header #menu a:hover
{
	letter-spacing: 1em;
	transition: letter-spacing 100ms ease-in;
}

/* content css */
#content
{
	padding: 1%;
}
