html, body
{
	background: #59A8CC;
	margin: 0px;
	padding: 0px;

	height: 100%;
	width: 100%;
}

/* header css */
#header
{
	margin: 0px;
	padding: 0px;

	height: 10%;
	width: 100%;

	box-sizing: border-box;
}

#header #title
{
	text-transform: lowercase;

	margin: 0px;
	padding: 5px;

	height: 50%;
	width: 100%;

	box-sizing: border-box;

	line-height: 100%;
}

#header #menu
{
	background: #DEDEDE;
	float: left;

	display: block;
	vertical-align: middle;

	box-sizing: border-box;

	margin: 0px;
	padding: 5px;

	height: 50%;
	width: 100%;
}

#header #menu a
{
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: lowercase;
	color: #000000;

	vertical-align: middle;

	float: left;

	border: 1px solid black;
	background: #B8B8B8;

	box-sizing: border-box;

	margin: 0px;
	margin-right: 5px;
	padding: 0px;

	height: 80%;
	width: 5%;

	line-height: 150%;

	position: relative;

	top: 10%;
}

/* content css */

#content
{
	margin: 0px;
	padding: 10px;

	width: 80%;
	height: 80%;
}

#content ul
{
	margin: 0px;
	padding: 0px;

	list-style-type: none;
}

#content li
{
	margin: 0px;
	padding: 0px;
}

/* footer css */
