---
---
<!DOCTYPE html>
<html>
	<head>
        {% include meta.html %}

		<title>Projects</title>

		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"></link>
	</head>
	<body>
        <header>
            {% include header.html %}
		</header>

        <main>
			<h3><a href="https://www.github.com/dabbertorres/Swift2">Swift2</a></h3>
			<p>A 2D game engine. Written in C++, and uses the excellent SFML library for graphics, audio, and windowing.</p>
			<p>Uses my <a href="http://www.github.com/dabbertorres/LNA">Lua binding library</a> for Lua scripting support and my <a href="http://www.github.com/dabbertorres/gfs">generic filesystem library</a> for filesystem access.</p>

			<h3><a href="https://github.com/dabbertorres/caster">caster</a></h3>
			<p>A SFML powered GUI library.</p>

			<h3><a href="https://github.com/dabbertorres/LNA">LNA</a></h3>
			<p>LNA (Lua is Not an Acronym) is a template-based C++ library for simplifying binding Lua and C++ together.</p>
			<p>Managing the Lua stack, pushing and popping of variables and values, and manually binding functions and objects are removed from user's list of responsiblities.</p>

			<h3><a href="https://github.com/dabbertorres/SomeVM">SomeVM</a></h3>
			<p>A bytecode interpreter VM using registers. It includes an assembly-like intermediate language (IL). Runs in either a REPL or file-input mode.</p>

			<h3><a href="https://github.com/dabbertorres/ThreadPool">ThreadPool</a></h3>
			<p>After using C# for a project, I liked the easy to use ThreadPool included in .NET. Since the C++ standard library doesn't have a built-in thread pool, I made my own.</p>

			<h3><a href="https://github.com/dabbertorres/LuaDecompiler">LuaDecompiler</a></h3>
			<p>I like Lua, and got interested in it's structure. I figured a good way to learn would be decompiling it's bytecode. I wanted some more practice with C#, so that's how this came about.</p>
			<p>Initially targeting Lua 5.1. *Almost* feature-complete. Once that's done, I'd like to improve the output.</p>

			<h3><a href="https://github.com/dabbertorres/gfs">gfs</a></h3>
			<p>C++ (at least until C++17 most likely) has no standard library file-system access functionality. Writing OS-specific code a lot is annoying, so I wrapped it up into a library. (Currently supports Linux and Windows.)</p>

			<h3><a href="https://github.com/dabbertorres/cOS">cOS</a></h3>
			<p>Feeling brave, and enjoying low-level code, I decided to look into OS development. This was the initial result.</p>
			<p>Does not do much, but it does boot, write to the vga terminal, and supports all standard (and documented) features of cpuid.</p>
		</main>

        <footer></footer>
	</body>
</html>
