---
permalink: about/
---
<!DOCTYPE html>
<html>
	<head>
        {% include meta.html %}

		<title>About</title>

		<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
	</head>
	<body>
        <header>
            {% include header.html %}
		</header>

        <main>
			<p>I'm Alec Iverson, and I enjoy writing software.</p>
			<p>I do not have an area I focus on, because I like to dabble. However, I do work with Computer Vision, do Low-Level hobby work, and make games for fun.</p>
			<p>In addition, I enjoy spending hours tweaking code for max efficiency.</p>
			<p>Games interest me because of the possibility to dabble. In order to make a game, a world has to be created. The laws governing this world must be created too. Because of this, there are almost infinite areas and specialities to dabble in.</p>
		</main>

        <footer></footer>
	</body>
</html>
