---
permalink: /
---
<!DOCTYPE html>
<html>
	<head>
        {% include meta.html %}

		<title>dabbertorres</title>

		<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
	</head>
	<body>
        <header>
            {% include header.html %}
        </header>

        <main>
			<h3>Me</h3>
			<p>Hi, <a href="about/">my name is Alec</a>, and I make software.</p>

			<h3>Contact Me</h3>
			<p>I'm an email away. You can email me at <a href="mailto:adiverso93@gmail.com">adiverso93@gmail.com</a>.</p>
			<p>Questions and feedback on my projects are welcome.</p>
		</main>

        <footer></footer>
	</body>
</html>
